In [1]:
# Import MySQL Connector/Python 
import mysql.connector as connector

connection=connector.connect(user="root",password="Alex1107")

In [2]:
cursor = connection.cursor()

In [3]:
cursor.execute("CREATE DATABASE little_lemon_db_capstone")

In [4]:
cursor.execute("USE little_lemon_db_capstone")

In [30]:
#Customer table
create_customer_table = """CREATE TABLE Customers (
CustomerID INT AUTO_INCREMENT,
FullName VARCHAR(100) NOT NULL,
ContactNumber INT NOT NULL,
Email VARCHAR(100) NOT NULL,
PRIMARY KEY (CustomerID)
);"""

In [31]:
#MenuItems table
create_menuitem_table = """CREATE TABLE MenuItems (
MenuItemID INT AUTO_INCREMENT,
CourseName VARCHAR(200),
StarterName VARCHAR(200),
DessertName VARCHAR(100),
PRIMARY KEY (MenuItemID)
);"""

In [32]:
#Menus table
create_menu_table = """CREATE TABLE Menus (
MenuID INT,
MenuItemID INT,
Cuisine VARCHAR(100),
PRIMARY KEY (MenuID),
FOREIGN KEY (MenuItemID) REFERENCES MenuItems(MenuItemID)
);"""

In [72]:
#Orders table
create_orders_table = """CREATE TABLE Orders (
OrderID INT,
MenuID INT,
CustomerID INT,
TotalCost INT,
Quantity INT,
PRIMARY KEY (OrderID),
FOREIGN KEY (MenuID) REFERENCES Menus(MenuID),
FOREIGN KEY (CustomerID) REFERENCES Customers(CustomerID)
);"""

In [80]:
#Bookings table
create_booking_table = """CREATE TABLE Bookings (
BookingID INT AUTO_INCREMENT,
TableNo INT,
BookingDate DATE NOT NULL,
CustomerID INT,
PRIMARY KEY (BookingID),
FOREIGN KEY (CustomerID) REFERENCES Customers(CustomerID)
);"""

In [34]:
# Create MenuItems table
cursor.execute(create_menuitem_table)

In [35]:
# Create Menu table
cursor.execute(create_menu_table)

In [36]:
# Create Bookings table
cursor.execute(create_customer_table)

In [37]:
# Create Orders table
cursor.execute(create_orders_table)

In [81]:
# Create Orders table
cursor.execute(create_booking_table)

In [47]:
#*******************************************************#
# Insert query to populate "MenuItems" table:
#*******************************************************#
insert_menuitems="""
INSERT INTO MenuItems (CourseName, StarterName, DessertName)
VALUES
('OG', 'Olives','Greek yogurt'),
('FI', 'Flatbread','Ice cream'),
('MC', 'Minestrone', 'Cheesecake'),
('SE','sandwich','egg tart'),
('LP','lumpia','persimmon');"""

In [53]:
insert_menu="""
INSERT INTO Menus (MenuID,MenuItemID,Cuisine)
VALUES
(1, 1, 'Greek'),
(2, 2, 'Greek'),
(3, 3, 'Greek'),
(4, 4, 'Greek'),
(5, 5, 'Turkish');"""

In [60]:
#*******************************************************#
# Insert query to populate "Bookings" table:
#*******************************************************#
insert_customers="""
INSERT INTO Customers (FullName, ContactNumber, Email)
VALUES
('Anna Iversen',384734983,'dfwefwf'),
('Joakim versen', 343424, 'wefwefw'),
('Vanessa McCarthy', 23234234, 'wefwef'),
('Marcos Romero', 2343423, 'wefwefwef');"""

In [84]:
insert_orders="""
INSERT INTO Orders (OrderID, MenuID, CustomerID, TotalCost, Quantity)
VALUES
(1, 1, 1, 86, 2),
(2, 2, 2, 37, 3),
(3, 3, 3, 37, 5),
(4, 4, 4, 40, 3);"""

In [85]:
insert_bookings="""
INSERT INTO Bookings (TableNo, BookingDate, CustomerID)
VALUES
(1,"2022-10-10",1),
(2,"2022-10-10",2),
(1,"2022-10-10",3),
(2,"2022-10-10",4);
"""

In [51]:
# Populate MenuItems table
cursor.execute(insert_menuitems)
connection.commit()

In [54]:
# Populate MenuItems table
cursor.execute(insert_menu)
connection.commit()

In [61]:
# Populate Bookings table
cursor.execute(insert_customers)
connection.commit()

In [68]:
# Populate Orders table
cursor.execute(insert_orders)
connection.commit()

In [86]:
# Populate Orders table
cursor.execute(insert_bookings)
connection.commit()

In [91]:
#Get Max Quantity Procedure
stored_procedure_GetMaxQuantity_query="""
CREATE PROCEDURE  GetMaxQuantity()
BEGIN
    SELECT MAX(orders.Quantity)
    FROM Orders;
END
"""
cursor.execute(stored_procedure_GetMaxQuantity_query)

In [92]:
#Add Booking Procedure
stored_procedure_AddBooking_query="""
CREATE PROCEDURE AddBooking (IN BookingID INT, IN TableNumber INT, IN BookingDate DATE, IN CustomerID INT)
BEGIN
INSERT INTO Bookings (BookingID, TableNo, BookingDate, CustomerID) VALUES (BookingID, TableNo, BookingDate, CustomerID); 
END
"""
cursor.execute(stored_procedure_AddBooking_query)

In [94]:
#Update Booking Procedure
stored_procedure_UpdateBooking_query="""
CREATE PROCEDURE UpdateBooking (IN Booking_ID INT, IN Booking_Date DATE)
BEGIN
UPDATE Bookings SET BookingDate = Booking_Date WHERE BookingID = Booking_ID; 
END
"""
cursor.execute(stored_procedure_UpdateBooking_query)

In [95]:
#Cancel Booking Procedure
stored_procedure_CancelBooking_query="""
CREATE DEFINER=`root`@`localhost` PROCEDURE `CancelBooking`(IN Booking_ID INT)
BEGIN
DELETE FROM Bookings WHERE BookingID = Booking_ID;
END
"""
cursor.execute(stored_procedure_CancelBooking_query)